body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    display: flex;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

.logout-link {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    display: block;
    margin-top: 20px;
}

.logout-link:hover {
    background-color: #ddd;
}