body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

.form-container {
    box-sizing: border-box;
    width: 70%; 
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="date"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}
